@model WebMVC.Models.proc_Get_Learner_Result
@{
    ViewBag.Title = "View Learner Biodata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Learner Bio-Data</h2>

<div class="row" style="margin-top:50px;">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="entypo-plus-circled"></i>
                    Learner Bio-Data
                    <span class="pull-right">
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" align="left">
                        @Html.ActionLink("Back", "MyLearners", "School")
                    </div>
                    <div class="container-fluid">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Basic Details<span class="badge">Step 1</span></a></li>
                            <li><a data-toggle="tab" href="#SpecialNeeds">Special Needs<span class="badge">Step 3</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Basic Details</h3>
                                <div class="col-md-12" style="color:red">CAPTURE ONLY LEARNERS WITH BIRTH CERTIFICATES!!</div>
                                <div class="col-md-12">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="mymessage text-success"></div>
                                            @if (ViewBag.Message != "")
                                            {
                                                <p>
                                                    <div class="text-success">@ViewBag.Message</div>
                                                </p>}
                                            @if (ViewBag.Message2 != "")
                                            {
                                                <p>
                                                    <div class="text-success">@ViewBag.Message2</div>
                                                </p>
                                            }

                                            @Html.HiddenFor(x => x.UPI)
                                            @Html.HiddenFor(x => x.Class_Code)
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.Label("Search (UPI/Birth Cert Entry #)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-4">
                                                            @Html.TextBox("SearchUPI")
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="button" id="BtnSearchUPI" value="CHECK" class="btn btn-default BtnSearchUPI" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.UPI, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.UPI, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.UPI, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Birth_Cert_No, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.Birth_Cert_No, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Birth_Cert_No, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.LGender, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.LGender, new SelectList(ViewBag.GenderList, "Value", "Text"), "--Select--", new { @id = "ddlGender", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.LGender, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.County_Code, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.County_Code, new SelectList(ViewBag.CountryList, "Value", "Text"), "--Select--", new { @id = "ddlCountry", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.County_Code, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Class_Code, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.Class_Code, new SelectList(ViewBag.ClassList, "Value", "Text"), "--Select--", new { @id = "ddlClass", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Class_Code, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Special_Medical_Condition, htmlAttributes: new { @class = "control-label col-md-6" })
                                                            <div class="col-md-6">
                                                                @Html.DropDownListFor(model => model.Special_Medical_Condition, new SelectList(ViewBag.MedicalList, "Value", "Text"), "--Select--", new { @id = "ddlMedical", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Special_Medical_Condition, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Disability_Code, htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-8">
                                                            @Html.RadioButtonFor(model => model.Disability_Code, true) Yes
                                                            @Html.RadioButtonFor(model => model.Disability_Code, false) No
                                                            @Html.ValidationMessageFor(model => model.Disability_Code, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12 text-center">
                                                            <input type="submit" value="SAVE" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                            <div id="SpecialNeeds" class="tab-pane fade">
                                <h3>Student Special Needs</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
