@model WebMVC.Models.LearnerViewModel
@{
    ViewBag.Title = "View Learner Biodata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Learner Bio-Data</h2>
<script src="~/Scripts/CascadeControls.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<div class="row" style="margin-top:50px;">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="entypo-plus-circled"></i>
                    Learner Bio-Data
                    <span class="pull-right">
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" align="left">
                        @Html.ActionLink("Back", "MyLearners", "School")
                    </div>
                    <div class="container-fluid">

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Basic Details<span class="badge">Step 1</span></a></li>
                            <li><a data-toggle="tab" href="#SpecialNeeds">Special Needs<span class="badge">Step 2</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Basic Details</h3>
                                <div class="col-md-12" style="color:red">CAPTURE ONLY LEARNERS WITH BIRTH CERTIFICATES!!</div>
                                <div class="col-md-12">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="mymessage text-success"></div>
                                            @if (ViewBag.Message != "")
                                            {
                                                <p>
                                                    <div class="text-success">@ViewBag.Message</div>
                                                </p>}
                                            @if (ViewBag.Message2 != "")
                                            {
                                                <p>
                                                    <div class="text-fail">@ViewBag.Message2</div>
                                                </p>
                                            }
                                            @Html.HiddenFor(x => x.Institution_Code)
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.Label("Search (UPI/Birth Cert Entry #)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                        <div class="col-md-4">
                                                            @Html.TextBox("SearchUPI")
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="button" id="BtnSearchUPI" value="CHECK" class="btn btn-default BtnSearchUPI" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.UPI, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.UPI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                @Html.ValidationMessageFor(model => model.UPI, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Birth_Cert_No, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.Birth_Cert_No, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Birth_Cert_No, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.DOB2, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.TextBoxFor(model => model.DOB2, new { @type = "date", @class = "datepicker" })
                                                                @Html.ValidationMessageFor(model => model.DOB2, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.LGender, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.LGender, new SelectList(ViewBag.GenderList, "Value", "Text"), "--Select--", new { @id = "ddlGender", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.LGender, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.Nationality, new SelectList(ViewBag.CountryList, "Value", "Text"), "--Select--", new { @id = "ddlCountry", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Class_Code, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.Class_Code, new SelectList(ViewBag.ClassList, "Value", "Text"), "--Select--", new { @id = "ddlClass", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Class_Code, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Special_Medical_Condition, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.Special_Medical_Condition, new SelectList(ViewBag.MedicalList, "Value", "Text"), "--Select--", new { @id = "ddlMedical", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.Special_Medical_Condition, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Disability_Code, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.RadioButtonFor(model => model.Disability_Code, "1") Yes
                                                                @Html.RadioButtonFor(model => model.Disability_Code, "0") No
                                                                @Html.ValidationMessageFor(model => model.Disability_Code, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="text-success">@ViewBag.Contact</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">
                                                                <i class="entypo-plus-circled"></i>
                                                                Contact Details
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="col-md-0" align="left">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.County_Code, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                                <div class="col-md-8">
                                                                                    @Html.DropDownListFor(model => model.County_Code, new SelectList(ViewBag.CountyList, "Value", "Text"), "--Select--", new { @id = "ddlCty", @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.County_Code, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Sub_County_Code, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                                <div class="col-md-8">
                                                                                    @Html.DropDownListFor(model => model.Sub_County_Code, new SelectList(ViewBag.SCountyList, "Value", "Text"), "--Select--", new { @id = "ddlSCty", @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.Sub_County_Code, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Postal_Address, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                                <div class="col-md-8">
                                                                                    @Html.EditorFor(model => model.Postal_Address, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Postal_Address, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Email_Address, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                                <div class="col-md-8">
                                                                                    @Html.EditorFor(model => model.Email_Address, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Email_Address, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                                <div class="col-md-8">
                                                                                    @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                               
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">
                                                                <i class="entypo-plus-circled"></i>
                                                                Mother's Details
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Mother_IDNo, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Mother_IDNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Mother_IDNo, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Mother_Name, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Mother_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Mother_Name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Mother_Email, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Mother_Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Mother_Email, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Mother_Contacts, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Mother_Contacts, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Mother_Contacts, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">
                                                                <i class="entypo-plus-circled"></i>
                                                                Father's Details
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Father_IDNo, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Father_IDNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Father_IDNo, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Father_Name, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Father_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Father_Email, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Father_Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Father_Email, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Father_Contacts, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Father_Contacts, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Father_Contacts, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">
                                                                <i class="entypo-plus-circled"></i>
                                                                Guardian's Details
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Guardian_IDNo, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Guardian_IDNo, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Guardian_IDNo, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Guardian_Name, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Guardian_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Guardian_Name, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Guardian_Email, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Guardian_Email, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Guardian_Email, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Guardian_Contacts, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.Guardian_Contacts, new { htmlAttributes = new { @class = "form-control" } })
                                                                                @Html.ValidationMessageFor(model => model.Guardian_Contacts, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12 text-center">
                                                            <input type="submit" value="SAVE" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                var options = {
                                                    dateFormat: 'dd/mm/yy',
                                                    todayHighlight: true,
                                                    autoclose: true,
                                                };

                                                $('#DOB2').datepicker(options);

                                                //$('.datepicker').datepicker({
                                                //    dateFormat: "mm/dd/yyyy",
                                                //    showStatus: true,
                                                //    showWeeks: true,
                                                //    currentText: 'Now',
                                                //    autoSize: true,
                                                //    gotoCurrent: true,
                                                //    showAnim: 'blind',
                                                //    highlightWeek: true
                                                //});
                                            });
                                        </script>
                                    }
                                </div>
                            </div>
                            <div id="SpecialNeeds" class="tab-pane fade">
                                <h3>Student Special Needs</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>