@model WebMVC.Models.MoveLearnerViewModel

@{
    ViewBag.Title = "Move Learner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:50px;">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="entypo-plus-circled"></i>
                    Move Learner From One Grade to Another
                    <span class="pull-right">
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" align="left">
                        @Html.ActionLink("Back", "MyLearners", "School")
                    </div>
                    <div class="container-fluid">
                        
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="col-md-12">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="mymessage text-success"></div>
                                            @if (ViewBag.Message != "")
                                            {
                                                <p>
                                                    <div class="text-success">@ViewBag.Message</div>
                                                </p>}
                                            @if (ViewBag.Message2 != "")
                                            {
                                                <p>
                                                    <div class="text-fail">@ViewBag.Message2</div>
                                                </p>
                                            }
                                            @Html.HiddenFor(x => x.OriginalGrade)
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.UPI, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.UPI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                @Html.ValidationMessageFor(model => model.UPI, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.Surname, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.Surname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.FirstName, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.OtherNames, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.OtherNames, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.Birth_Cert_No, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.Birth_Cert_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.DOB2, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.DOB, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.LGender, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.LGender, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ALearnerViewModel.Nationality, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.Country_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.Label("Current Grade", htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.ALearnerViewModel.Class_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.NewGrade, htmlAttributes: new { @class = "control-label text-left col-md-4" })
                                                            <div class="col-md-8">
                                                                @Html.DropDownListFor(model => model.NewGrade, new SelectList(Model.NewGradeList, "Value", "Text"), "--Select--", new { @id = "ddlClass", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.NewGrade, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12 text-center">
                                                            <input type="submit" value="SAVE" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                var options = {
                                                    dateFormat: 'dd/mm/yy',
                                                    todayHighlight: true,
                                                    autoclose: true,
                                                };

                                                $('#DOB2').datepicker(options);

                                            });
                                        </script>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>